spring:
  lifecycle:
    timeout-per-shutdown-phase: 1m
  application:
    name: sbtech_erp
  config:
    import: "optional:file:.env"
  datasource:
    primary:
      url: ${MYSQL_URL}
      username: ${MYSQL_USERNAME}
      password: ${MYSQL_PASSWORD}
      driver-class-name: com.mysql.cj.jdbc.Driver
    external:
      url: ${MSSQL_EXTERNAL_URL}
      username: ${MSSQL_EXTERNAL_USERNAME}
      password: ${MSSQL_EXTERNAL_PASSWORD}
      driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
#  jpa:
#    database-platform: org.hibernate.dialect.MySQL8Dialect
#    open-in-view: false
#    show-sql: true
#    hibernate:
#      ddl-auto: none


management:
  endpoints:
    web:
      exposure:
        include: "*"
logging:
  level:
    root: info
server:
  port: 30300
  shutdown: graceful
